.bg-dark-gray {
    background-color: #747474 !important;
}

.bg-light-gray {
    background-color: #ee29293a !important;
}

.contenedores-zoom {
    zoom: 100%;
    /* o transform: scale(0.8); */
}

.bg-dark-gray {
    background-color: #747474 !important;
}

@media (max-width: 640px) {
    .hidden {
        display: none;
    }
}

.fondoheader {
    /* Actualiza el gradiente para usar el color #F2D6A2 */
    background: linear-gradient(to right, #404040, #F2D6A2);
    /* Resto de tus estilos */
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playfair-display-letras {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}