.bg-dark-gray {
    background-color: #747474 !important;
}

.bg-light-gray {
    background-color: #ee29293a !important;
}

.contenedores-zoom {
    zoom: 100%;
    /* o transform: scale(0.8); */
}

.bg-dark-gray {
    background-color: #747474 !important;
}

@media (max-width: 640px) {
    .hidden {
        display: none;
    }
}