.whatsapp-float {
    position: fixed;
    bottom: 20px;
    /* Cambia este valor según tu preferencia */
    right: 20px;
    /* Cambia este valor según tu preferencia */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.whatsapp-float a {
    background-color: #25d366;
    /* Cambia el color de fondo según tus preferencias */
    color: #fff;
    /* Cambia el color del icono según tus preferencias */
    width: 60px;
    /* Ajusta el ancho del botón según tus preferencias */
    height: 60px;
    /* Ajusta el alto del botón según tus preferencias */
    border-radius: 50%;
    /* Asegura que el botón sea redondo */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Añade una sombra para dar profundidad */
    transition: all 0.3s ease;
    /* Añade una transición suave */
}

.whatsapp-float a:hover {
    background-color: #128c7e;
    /* Cambia el color de fondo al pasar el cursor sobre él */
}

.whatsapp-float i.fab {
    font-size: 30px;
    /* Aumenta el tamaño del ícono */
}