/* investmentComparisonChart.css */

.chart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;


}

.chart-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 16px;
}

.chart-description {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    color: #666;
}

.componentesa {
    zoom: 100%;
    background-color: black;
}